HELP.md


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.funcionarios
.sts4-cache
.funcionarios.txt
.funcionarios.csv

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
